numpy==1.26.4
pandas==2.2.2
scipy==1.13.1
torch>=2.2.0
accelerate>=0.30.0
transformers==4.41.2
sentence-transformers==2.7.0
tokenizers>=0.15.2
langchain==0.2.1
langchain-core==0.2.1
langgraph==0.0.55
rank-bm25==0.2.2
scikit-learn==1.4.2
nbclient==0.10.0
nbformat==5.10.4
pyarrow==16.1.0
fastparquet==2024.5.0
tqdm>=4.66.0
regex>=2024.5.15
python-dotenv>=1.0.1
